.discounts {
  padding: 115px 0;

  @include vp-1200 {
    padding: 95px 0 55px;
  }

  @include vp-768 {
    padding: 65px 15px 66px;
  }

  h2 {
    @include reset-margins;
    font: 700 3.07em/1em $ff-titles;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 55px;
    text-transform: uppercase;

    @include vp-1200 {
      font: 700 2.63em/1em $ff-titles;
      margin-bottom: 44px;
    }

    @include vp-768 {
      font: 700 2em/1em $ff-titles;
      margin-bottom: 46px;
    }
  }
}

.discounts__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include vp-1200 {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.discounts__main {
  flex: 0 1 48.3%;
  display: flex;

  @include vp-1200 {
    flex: 0 1 100%;
    margin-bottom: 30px;
  }

  @include vp-768 {
    flex-direction: column;
  }
}

.discounts__main-info {
  flex: 1 1 50%;
  padding: 42px 44px 48px 44px;
  background-color: $color-pink;
  color: $color-default-white;
  display: flex;
  flex-direction: column;

  @include vp-1200 {
    flex: 1 1 41.2%;
  }

  @include vp-768 {
    flex: 1 1 100%;
    min-height: 299px;
    padding: 40px 50px 50px;
    text-align: center;
  }

  h3 {
    @include reset-margins;
    font: 700 1.75em/1em $ff-default;
    margin-bottom: 10px;
  }

  p {
    @include reset-margins;

    font: 400 1.13em/1.3em $ff-default;
    margin-bottom: 15px;

    &:first-of-type {
      font: 700 4.38em/0.82em $ff-default;
      margin-bottom: 25px;

      @include vp-768 {
        margin-bottom: 20px;
      }
    }
  }

  a {
    color: $color-default-white;
    font: 700 0.88em/1em $ff-default;

    &::after {
      background-color: $color-default-white;
    }

    &:active {
      color: $color-blue;

      &::after {
        background-color: $color-blue;
      }
    }
  }
}

.discounts__image {
  flex: 1 1 50%;
  min-height: 462px;
  position: relative;

  @include vp-1200 {
    flex: 1 1 58.8%;
  }

  @include vp-768 {
    flex: 1 1 100%;
    min-height: 299px;
    max-height: 299px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-blue;
    object-fit: cover;
    object-position: top;
  }
}

.discounts__list {
  @include reset-margins;
  list-style: none;
  flex: 0 1 48.3%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 40px 0;

  @include vp-1200 {
    flex: 0 1 100%;
    gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include vp-768 {
    flex-direction: column;
  }
}

.discounts__item {
  padding: 25px 30px 30px 30px;
  min-height: 211px;
  display: flex;
  flex-direction: column;
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: $prices-gradient;
  background-color: $color-default-white;
  color: $color-feedback;

  @include vp-1200 {
    flex: 0 1 47.8%;
    margin-bottom: 40px;
  }

  @include vp-768 {
    padding: 35px 35px 42px 35px;
    margin-bottom: 0;
    text-align: center;
  }

  &:not(:last-of-type) {
    @include vp-768 {
      margin-bottom: 30px;
    }
  }

  h3 {
    @include reset-margins;
    font: 700 1.63em/1em $ff-default;
    margin-bottom: 12px;
  }

  p {
    @include reset-margins;
    font: 400 1em/1.2em $ff-default;
    margin-bottom: 10px;

    @include vp-768 {
      line-height: 1.3em;
    }
  }

  a {
    color: $color-feedback;
    font: 700 0.75em/1em $ff-default;

    &::after {
      background-color: $color-feedback;
    }

    &:active {
      color: $color-pink;

      &::after {
        background-color: $color-pink;
      }
    }
  }
}

.discounts__main-info a,
.discounts__item a {
  margin: auto auto 0 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
  width: min-content;
  transition: all 0.3s ease 0s;

  @include vp-768 {
    margin: auto auto 0 auto;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
  }

  @media (hover: hover), screen and (min-width: $vp-1200) {
    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
  }
}
