.footer {
  padding: 38px 0;
  background-color: $color-dark-blue;

  @include vp-1200 {
    padding: 42px 0;
  }

  @include vp-768 {
    padding: 50px 15px 45px;
  }
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-768 {
    flex-direction: column;
    position: relative;
  }
}

.footer__logo {
  line-height: 0;
  margin-top: 7px;

  @include vp-768 {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  svg {
    @include vp-1200 {
      width: 82px;
      height: 18px;
    }

    @include vp-768 {
      width: 68px;
      height: 15px;
    }
  }
}

.footer__menu {
  @include reset-margins;
  list-style: none;
  max-width: 65%;
  line-height: 0;
  margin: 7px 0 0 25px;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 10px 40px;

  @include vp-1200 {
    gap: 10px 30px;
    margin: 9px 0 0 25px;
  }

  @include vp-768 {
    max-width: 100%;
    margin: 0;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-auto-flow: row;
    gap: 22px 30px;
    padding-bottom: 40px;
  }

  li {
    &:last-of-type {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @include vp-768 {
      &:first-of-type {
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: end;
      }

      &:last-of-type {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }
  }

  a {
    font: 400 0.88em/1em $ff-default;
    color: $color-default-white;
    transition: all 0.3s ease 0s;

    @include vp-768 {
      font: 400 1em/1em $ff-default;
    }

    @media (hover: hover), screen and (min-width: $vp-1200) {
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }

    &:active {
      color: $color-pink;
    }
  }
}

.footer__social-list {
  @include reset-margins;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 135px;
  margin: -2px -12px 0 -7px;

  @include vp-1200 {
    margin: 0 -10px 0 -5px;
  }

  @include vp-768 {
    margin: -3px -14px 0 -14px;
    max-width: 100%;
    width: 100%;
  }

  li {
    padding: 0 7px;

    @include vp-1200 {
      padding: 0 5px;
    }

    @include vp-768 {
      padding: 0 14px;
    }
  }

  a {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    line-height: 0;
    transition: all 0.3s ease 0s;

    @media (hover: hover), screen and (min-width: $vp-1200) {
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }

    &:active {
      transform: scale(0.9);
    }
  }

  svg {
    fill: $color-default-white;

    @include vp-768 {
      transform: scale(1.14);
    }
  }
}
