.season-ticket {
  padding: 115px 0 120px;
  background: $color-gray;
  position: relative;

  @include vp-1200 {
    padding: 96px 0 100px;
  }

  @include vp-768 {
    padding: 65px 15px 70px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -150px;
    right: 0;
    width: 287px;
    height: 494px;
    background: url("../img/prices-bg.png") 100% 100% no-repeat;

    @include retinaD {
      background-image: url("../img/prices-bg@2x.png");
      background-size: 287px 494px;
    }

    @include vp-1200 {
      background-image: url("../img/prices-bg-tablet.png");
      width: 347px;
      height: 444px;
      bottom: -125px;

      @include retina {
        background-image: url("../img/prices-bg-tablet@2x.png");
        background-size: 347px 444px;
      }
    }

    @include vp-768 {
      background-image: none;

      @include retina {
        background-image: none;
      }
    }
  }

  h2 {
    @include reset-margins;
    font: 700 3.07em/1em $ff-titles;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-blue;
    margin-bottom: 27px;
    text-align: center;

    @include vp-1200 {
      font: 700 2.63em/1em $ff-titles;
      margin-bottom: 22px;
    }

    @include vp-768 {
      font: 700 2em/1em $ff-titles;
      margin-bottom: 13px;
    }
  }
}
