.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 1;
}

.tabs__content {
  @include reset-margins;
  list-style: none;
  width: 100%;
  display: none;
  order: 1;
  animation: visibleCard 0.7s ease-in-out;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 3.5%;
  transition: all 0.3s ease 0s;

  @include vp-1200 {
    grid-template-columns: 1fr;
    width: 65.2%;
  }

  @include vp-768 {
    width: 100%;
    gap: 35px;
  }
}

.tabs__content--active {
  display: grid;
}

.tabs__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 15px 60px;
  min-height: 448px;
  background-color: $color-default-white;
  text-align: center;
  border: 7px solid transparent;

  @include vp-768 {
    padding: 45px 20px;
    min-height: 384px;

    svg {
      width: 24px;
      height: 33px;
    }
  }

  @media (hover: hover), screen and (min-width: $vp-1200) {
    &:hover,
    &:focus-within {
      border: 7px solid;
      border-image-slice: 1;
      border-image-source: $prices-gradient;
    }
  }

  h3 {
    @include reset-margins;
    font: 700 1.63em/1.2em $ff-default;
    color: $color-blue;
    margin-bottom: 10px;

    @include vp-768 {
      font: 700 1.38em/1.2em $ff-default;
    }
  }

  p {
    @include reset-margins;

    &:not(:last-of-type) {
      font: 400 1em/1.2em $ff-default;
      color: $color-light-blue;
    }

    &:last-of-type {
      font: 700 3.75em/0.71em $ff-default;
      color: $color-bright-blue;
      padding: 60px 0 0 0;
      position: relative;
      margin-top: auto;
      margin-bottom: 59px;

      @include vp-768 {
        font: 700 3em/0.71em $ff-default;
        padding: 60px 0 0 0;
        margin-bottom: 50px;
      }

      span {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: attr(data-price);
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        font: 700 1.67em/1em $ff-default;
        color: $color-big-price;
      }
    }
  }

  a {
    display: block;
    padding: 26px;
    font: 700 0.75em/1em $ff-default;
    color: $color-blue;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    outline: 2px solid $color-blue;
    outline-offset: -2px;
    width: 206px;
    transition: color 0.5s ease 0s, background 0.5s ease 0s;
  }
}

@media (hover: hover), screen and (min-width: $vp-1200) {
  .tabs__content-item:hover a,
  .tabs__content-item a:focus {
    background: $prices-gradient;
    color: $color-default-white;
    outline: none;
  }
}


.tabs__content-item--active {
  @include vp-1200 {
    border: 7px solid;
    border-image-slice: 1;
    border-image-source: $prices-gradient;

    a {
      background: $prices-gradient;
      color: $color-default-white;
      outline: none;
    }
  }
}

.tabs__links {
  @include reset-margins;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  order: 0;
  white-space: nowrap;
  max-width: 80%;
  margin-bottom: 40px;

  @include vp-1200 {
    margin-bottom: 45px;
  }

  @include vp-768 {
    margin-bottom: 35px;
    max-width: 100%;
  }
}

.tabs__link-item {
  position: relative;

  &:not(:last-of-type) {
    margin-right: 46px;

    @include vp-1200 {
      margin-right: 54px;
    }

    @include vp-768 {
      margin-right: 45px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: -46px;
    height: 2px;
    background-color: $color-gray-transparent;

    @include vp-1200 {
      right: -54px;
    }

    @include vp-768 {
      right: -45px;
    }
  }

  &:last-of-type {
    &::after {
      right: 0;
    }
  }

  a {
    display: inline-block;
    vertical-align: middle;
    font: 400 1.25em/1em $ff-default;
    text-align: center;
    text-decoration: none;
    padding: 16px 0;
    position: relative;
    transition: color 0.3s ease 0s;
    color: rgba($color-blue, 0.5);

    @include vp-1200 {
      font: 400 1.13em/1em $ff-default;
    }

    @include vp-768 {
      font: 400 1em/1em $ff-default;
    }

    @media (hover: hover), screen and (min-width: $vp-1200) {
      &:hover,
      &:focus-visible {
        outline: none;
        color: $color-dark-pink;
      }
    }
  }
}

.tabs__link-item--active {
  a {
    color: $color-blue;
    cursor: default;

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-dark-pink;
    }

    @media (hover: hover), screen and (min-width: $vp-1200) {
      &:hover,
      &:focus-visible {
        outline: none;
        color: $color-blue;
      }
    }
  }
}

.tabs--nojs > .tabs__links > .tabs__link-item > a[href="#content-1"],
.tabs--nojs .tabs__content--2:target ~ .tabs__links > .tabs__link-item > a[href="#content-2"],
.tabs--nojs .tabs__content--3:target ~ .tabs__links > .tabs__link-item > a[href="#content-3"] {
  cursor: default;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-dark-pink;
  }
}

@keyframes visibleCard {
  0% {
    display: grid;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tabs--nojs .tabs__content--1:target ~ .tabs__links > .tabs__link-item > a[href="#content-1"],
.tabs--nojs .tabs__content--2:target ~ .tabs__links > .tabs__link-item > a[href="#content-2"],
.tabs--nojs .tabs__content--3:target ~ .tabs__links > .tabs__link-item > a[href="#content-3"] {
  color: $color-blue;
}


.tabs--nojs .tabs__content--2:target ~ .tabs__links > .tabs__link-item > a[href="#content-1"]:not(:hover),
.tabs--nojs .tabs__content--3:target ~ .tabs__links > .tabs__link-item > a[href="#content-1"]:not(:hover) {
  cursor: pointer;

  &::before {
    display: none;
  }
}

.tabs--nojs .tabs__content--2:target ~ .tabs__links > .tabs__link-item > a[href="#content-1"]:hover,
.tabs--nojs .tabs__content--3:target ~ .tabs__links > .tabs__link-item > a[href="#content-1"]:hover {
  color: $color-dark-pink;
  cursor: pointer;

  &::before {
    display: none;
  }
}

.tabs--nojs > .tabs__content:target {
  display: grid;
  animation: visibleCard 0.7s ease-in-out;
}

.tabs--nojs .tabs__content--1 {
  display: grid;
}

.tabs--nojs .tabs__content--2:target ~ .tabs__content--1,
.tabs--nojs .tabs__content--3:target ~ .tabs__content--1 {
  display: none;
  animation: visibleCard 0.7s ease-in-out;
}
