.trainers {
  padding: 0 0 120px 0;
  position: relative;

  @include vp-1200 {
    padding: 0 0 100px 0;
  }

  @include vp-768 {
    padding: 0 15px 70px 15px;
  }

  h2 {
    @include reset-margins;
    font: 700 3.07em/1em $ff-titles;
    letter-spacing: 0.03em;
    margin-bottom: 54px;
    text-transform: uppercase;

    @include vp-1200 {
      font: 700 2.63em/1em $ff-titles;
      margin-bottom: 45px;
      text-align: center;
    }

    @include vp-768 {
      font: 700 2em/1em $ff-titles;
    }
  }
}

.trainers__list {
  width: 100%;
  max-width: calc(4 * 260px + 3 * 40px);

  @include vp-1200 {
    max-width: calc(2 * 268px + 1 * 30px);
  }

  @include vp-768 {
    max-width: 226px;
  }
}

.trainers__wrap {
  &--nojs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 10px;

    @include vp-1200 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-768 {
      grid-template-columns: 1fr;
    }

    div {
      max-width: 100%;
      width: 100%;
      justify-self: center;
    }
  }
}

@keyframes info-slides-up {
  0% {
    position: static;
  }

  100% {
    opacity: 1;
  }
}

.trainers__item {
  color: $color-default-white;
  position: relative;
  width: 22.4%;
  height: 0;
  padding-top: 25.6%;
  text-align: center;
  overflow: hidden;

  @include vp-1200 {
    width: 47.35%;
    height: 294px;
  }

  @include vp-768 {
    width: 226px;
    max-width: 100%;
    height: 275px;
  }

  &:not(:last-of-type) {
    margin-right: 3.5%;

    @include vp-1200 {
      margin-right: 5.5%;
    }
  }

  &--nojs {
    @include vp-1200 {
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-blue;
        opacity: 89%;
      }

      div {
        transform: translateY(0);
        overflow-y: auto;
      }

      p {
        opacity: 1;
      }

      ul {
        opacity: 1;
      }
    }
  }

  @media (hover: hover), screen and (min-width: $vp-1200) {
    &:hover,
    &:focus {
      outline: none;

      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-blue;
        opacity: 89%;
      }

      div {
        transform: translateY(0);
        overflow-y: auto;
      }

      p {
        opacity: 1;
      }

      ul {
        opacity: 1;
      }
    }
  }
}

.trainers__info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 58px 30px;
  max-height: 100%;
  scrollbar-width: thin;
  transform: translateY(65%);
  z-index: 1;
  transition: transform 0.3s ease 0s;

  @include vp-1200 {
    padding: 56px 30px;
  }

  @include vp-768 {
    padding: 45px 25px;
  }

  h3 {
    @include reset-margins;
    font: 700 1.13em/1em $ff-default;
    margin-bottom: 5px;
  }

  p {
    @include reset-margins;
    font: 400 1em/1em $ff-default;
    color: $color-light-white;
    margin-bottom: 38px;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
  }

  ul {
    opacity: 0;
    transition: opacity 0.8s ease 0s;
  }
}

.trainers__image {
  img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-arrows;
    object-fit: cover;
    object-position: top center;
  }
}

.trainers__about-list {
  @include reset-margins;
  list-style: none;
  text-align: left;
  padding-left: 12%;

  @include vp-768 {
    padding-left: 5%;
  }

  li {
    font: 400 0.88em/1.28em $ff-default;
    padding-left: 16px;
    position: relative;

    @include vp-768 {
      line-height: 1.35em;
    }

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 6px;
      height: 6px;
      background-color: $color-default-white;
      border-radius: 50%;
    }
  }
}

.trainers__slider-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: calc(4 * 260px + 3 * 40px);

  @include vp-1200 {
    max-width: calc(2 * 268px + 1 * 30px + 100px);
  }

  @include vp-768 {
    max-width: 226px + 60px;
  }
}

.trainers__button {
  &--prev {
    left: -75px;

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    @include vp-1200 {
      left: -22px;
    }

    @include vp-768 {
      left: -10px;
    }
  }

  &--next {
    right: -75px;

    @include vp-1200 {
      right: -22px;
    }

    @include vp-768 {
      right: -10px;
    }
  }

  &--nojs {
    display: none;
  }
}
