.yb-video {
  width: 364px;
  height: 228px;
  background-color: $color-default-black;

  @include vp-1200 {
    width: 266px;
    height: 167px;
  }

  @include vp-768 {
    width: 100%;
  }

  &--enabled {
    cursor: pointer;
  }

  button {
    @include reset-margins;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    border: none;
    border-radius: 50%;
    background: $red-to-blue;
    cursor: pointer;

    @include vp-1200 {
      width: 52px;
      height: 52px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      background: url("../img/svg/ellipse.svg");
      opacity: 0.2;

      @include vp-1200 {
        width: 73px;
        height: 73px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -50%);
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 9px;
      border-top-width: 9px;
      border-left: 15px solid $color-default-white;

      @include vp-1200 {
        border-bottom-width: 6px;
        border-top-width: 6px;
        border-left: 10px solid $color-default-white;
      }
    }
  }
}

.yb-video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.yb-video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (hover: hover), screen and (min-width: $vp-1200) {
  .yb-video:hover button,
  .yb-video button:focus {
    outline: none;
    background: $color-pink;
  }
}

.yb-video:active button {
  background: $color-blue;
}
