.checkbox {
  order: 2;
  width: 80%;
  margin-left: 10px;

  @include vp-1024 {
    margin-left: 0;
    margin-bottom: 5px;
  }

  @include vp-768 {
    width: 85%;
    margin-left: 4px;
    margin-bottom: 12px;
  }

  &--modal {
    width: 100%;
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  input:checked + label {
    &::after {
      background: url("../img/svg/icon-checkbox.svg") center center no-repeat;
    }
  }

  input:focus + label::before {
    background-color: $color-blue-form;
  }

  label {
    padding-left: 26px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: $color-default-white;
    font: 400 0.88em/1.2em $ff-default;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      border: 1px solid $color-default-white;
      border-radius: 3px;
    }
  }
}
