.swip-button {
  width: 50px;
  height: 32px;
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-75%);
  cursor: pointer;

  @include vp-768 {
    top: 52%;
    width: 30px;
    height: 19px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 25%;
    width: 23px;
    height: 1px;
    background-color: $color-arrows;

    @include vp-768 {
      width: 13px;
    }
  }

  &::before {
    top: 25%;
    transform: rotate(45deg);
  }

  &::after {
    left: 25.5%;
    bottom: 24.5%;
    transform: rotate(-45deg);
  }
}
