// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-error: #ff0000;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-blue: #102654;
$color-bright-blue: #103aae;
$color-bright-blue: #2e35ac;
$color-light-blue: #495a7d;
$color-dark-blue: #030a1a;
$color-pink: #ed0233;
$color-dark-pink: #d10a42;
$color-gray: #f8f9fc;
$color-big-price: #e8e8e8;
$color-light-white: #b6bdcc;
$color-gray-transparent: rgba(120, 120, 120, 0.2);
$color-arrows: #afafaf;
$color-feedback: #1c3374;
$color-feedback-shadow: rgba(28, 51, 116, 0.2);
$color-contacts-border: #74819c;
$color-advantages-border: rgba(209, 10, 66, 0.2);

// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$intro-bg: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$red-to-blue: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
$prices-gradient: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
$color-advantages-text: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;
$ff-titles: "Bebas Neue", "Arial", sans-serif;
$ff-default: "Roboto Condensed", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1200: 1200px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Paddings
// ---------------------------------
$desktop-padding: 103/1366 * 100%;
$tablet-padding: 45/768 * 100%;
$mobile-padding: 0;
